<div id="<%= dom_id salesperson %>">
  <p>
    <strong>Person:</strong>
    <%= salesperson.person_id %>
  </p>

  <p>
    <strong>Dealership:</strong>
    <%= salesperson.dealership_id %>
  </p>

</div>
