<section class='dealership-section'>
  <h3>Our Dealer Group:</h3>

  <table class='table-group'>
    <thead class='table-header'>
      <tr class='table-row'>
        <th class='table-cell-group'>Name</th>
        <th class='table-cell-group'>Location</th>
        <th class='table-cell-group'>Province</th>
      </tr>
    </thead>
    <tbody class='table-body'>
      <% @dealerships.each do |dealership| %>
        <tr class='table-row'>
          <td class='table-cell-group'><a href="<%= dealership_path(dealership) %>"><%= dealership.name %></a></td>
          <td class='table-cell-group'><%= dealership.city.name %></td>
          <td class='table-cell-group'><%= dealership.city.province %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>