<section class='manufacturers-section'>
  <h3>Manufacturers Section:</h3>
      <% @manufacturers.each do |manufacturer| %>
        <div class='list-group'>
          <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
        </div>
      <% end %>
</section>