<section class='manufacturers-section'>
  <h3>Manufacturers Section:</h3>

  <table class='table-group'>
    <thead class='table-header'>
      <tr class='table-row'>
        <th class='table-cell-group'>Name</th>
      </tr>
    </thead>
    <tbody class='table-body'>
      <% @manufacturers.each do |manufacturer| %>
        <tr class='table-row'>
          <td>
              <td class='table-cell-group'>
              <a href="<%= manufacturer_path(manufacturer) %>">
              <%= manufacturer.name %></a></td>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</section>