<section class='manufacturer-section'>
  <h3>Manufacturers Section</h3>

  <% if @manufacturer.present? %>
    <h4><%= @manufacturer.name %></h4>
    <p>Country: <%= @manufacturer.country %></p>
    <p>Founded: <%= @manufacturer.founded_year %></p>
  <% end %>
</section>
