<section class='manufacturer-section'>
  <h2>Manufacturers Section</h2>

  <% if @manufacturer.present? %>
    <h3><%= @manufacturer.name %></h3>
    <p>Country: <%= @manufacturer.country %></p>
    <p>Founded: <%= @manufacturer.founded_year %></p>
  <% end %>
</section>
<section class='footer-nav-group'>
<nav>
  <a href="<%= manufacturers_path %>">Back</a>
</nav>
</section>